* {
  box-sizing: border-box;
}

body {
  background: #2c2c2c;
  color: white;
  margin: 0;
}

.wrap {
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 20px;
}

.title {
  width: 35vw;
  padding-right: 40px;
}

.nav {
  flex-grow: 1;
}

.nav ul {
  list-style: none;
  background-color: inherit;
  text-align: center;
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: space-between;
}

.nav li {
  line-height: 40px;
  height: 40px;
}

.nav a {
  text-decoration: none;
  color: #B0E0E6;
  display: block;
}

.nav a:hover {
  color: #FFA07A;
  background-color: inherit;
  border-radius: 10px;
}

.title_and_nav {
  display: flex;
  margin-bottom: 20px;
  align-items: baseline;
  position: relative;
}

.nav li {
  border-bottom: none;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  display: inline-block;
  position: relative;
  text-align: left;
  flex-wrap: nowrap;
}

@media (max-width: 1140px) {
  .nav li {
    overflow: visible;
  }
}

@media (max-width: 1010px) {
  .nav li {
    width: auto;
    overflow: visible;
  }
}

h1 {
  margin-bottom: 0px;
  color: #FFA07A;
  font-size: 48px;
}

h2 {
  color: white;
  font-size: 32px;
}

h4 {
  font-style: italic;
}

.tight {
  margin-top: -15px;
}

p {
  max-width: 600px;
  line-height: 1.5;
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: #B0E0E6;
  transition: .2s color;
}

a:hover {
  color: #FFA07A;
}

.subtitle {
  color: #FFA07A;
  font-style: italic;
  font-size: 1.5rem;
}

.all_content {
  display: flex;
}

.primary_content {
  flex: 3;
}

.sidebar {
  flex:1;
  margin-left:30px;
}

.face {
  width: 35vw;
  padding-right: 40px;
  margin: 26.56px 0;
}

.face img {
  max-width: 100%;
  border-radius: 100%;
}

.job {
  margin-bottom: 40px;
}


.org {
  margin-bottom: 40px;
}


footer {
  text-align: center;
  align-items: center;
  width: 100vw;
  background-color: #FFA07A;
  margin: 60px 0;
  padding: 20px 0 20px 0;
  color: #2c2c2c
}

footer a {
  text-decoration: underline;
  color: inherit;
}

footer p {
  text-align: center;
  display: inline;
}


.foot a:hover {
  color: white;
}
