body {
  background: white;
  color: black;
  margin: 0 20px 0 20px;
}

.nav ul {
  list-style: none;
  background-color: blue;
  border-radius: 10px;
  text-align: center;
  padding: 0;
}

.nav li {
  line-height: 40px;
  height: 40px;
  color: white
}

.nav a {
  text-decoration: none;
  color: white;
  display: block;
  transition: .3s background-color;
}

.nav a:hover {
  color: yellow;
  background-color: purple;
}


@media screen and (min-width: 600px) {
  .nav li {
    width: 220px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }

  .nav li {
    display: inline-block;
    margin-right: -4px;
  }
}


.all_content {
  display: flex;
}

.primary_content {
  flex: 2;
}

.sidebar {
  flex:1;
  margin-left:20px;
}
