body {
  background: #2c2c2c;
  color: white;
  margin: 0 40px 0 40px;
}


.nav ul {
  list-style: none;
  background-color: inherit;
  border-radius: 10px;
  text-align: center;
  position: absolute;
  bottom: 0;
}

.nav li {
  line-height: 40px;
  height: 40px;
}

.nav a {
  text-decoration: none;
  color: #B0E0E6;
  display: block;
  transition: .3s background-color;
}

.nav a:hover {
  color: #FFA07A;
  background-color: inherit;
  border-radius: 10px;
}

a {
  text-decoration: none;
  color: #B0E0E6;
  transition: .3s background-color;
}

a:hover {
  color: #FFA07A;
}

@media screen and (min-width: 600px) {

  .title_and_nav {
    display: flex;
    margin-bottom: 20px;
    align-items: baseline;
    position: relative;
  }

  .nav li {
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    display: inline-block;
    margin: 0 40px 0 40px;
  }
}

h1 {
  margin-bottom: 0px;
}

.all_content {
  display: flex;
}

.primary_content {
  flex: 2;
}

.sidebar {
  flex:1;
  margin-left:20px;
}

.face img {
  width: 30vw;
  border-radius: 100%;
  margin-right: 40px;
}
