{% extends "base.njk" %}

{% block title %}
  Home
{% endblock %}

{% block content %}

  <div class="all_content">

    <div class ="face">
      <img src="assets/images/speaking.jpg" alt="Mary Kate Fain">
    </div>

    <div class="primary_content">
      <h2>Hello.</h2>
      <p>I'm a feminist organizer with a background in grassroots activism, non-profit marketing and development, programming, and neuroscience.</p>
      <p>In 2016, I co-founded <a href="https://candlewaster.co" target="_blank">Candlwaster Web Collective</a>, a Free Software development agency based out of Philly.</p>
      <p>I serve on the board of <a href="https://www.speciesrevolution.org" target="_blank">Species Revolution</a>, and am an experienced speaker on a diverse range of topcs related to animal activism.</p>
      <p>Loving mother to a cat, chicken, and four rats.</p>
    </div>

  </div>

{% endblock %}
