{% extends "base.njk" %}

{% block title %}
  Resume
{% endblock %}

{% block content %}

  <h2>My Resume</h2>
  <div class="all_content">
    <div class="primary_content">
      <div class="resume">

        <div class="job">
          <h3>Co-Founder, Managing Partner</h3>
          <h4 class="tight"><a href="https://candlewaster.co/" target="_blank">Candlewaster</a> (2016 - present)</h4>
          <ul class="details">
            <li>Co-founded Philadelphia tech startup using and producing exclusively free software</li>
            <li>Design and develop unique Django and Wagtail projects which put ethics at the forefront</li>
          </ul>
          <div class="details-button">Show/hide details</div>
        </div>

        <div class="job">
          <h3>Co-Founder, Senior Organizer</h3>
          <h4 class="tight">Liberation Philadelphia (2016-2018)</h4>
          <ul class="details">
            <li>Founded the organization and grew it from a small group of 5 members over 80 regular members and over 300 annual attendees</li>
            <li>Recruited and managed the leadership team of about 15 including 5 separate committees and led team development and training </li>
            <li>Applied for and managed multiple large grants as well as managed donor relations</li>
            <li>Traveled and spoke on various topics related to activism and movement growth at national conferences</li>
            <li>Managed organization social media, press relationships, and public partnerships and achieved national press recognition for our work in the Washington Post, Vice, (ex.) as well as regular local coverage</li>
            <li>Developed and maintained organization website and outreach material such as fliers and brochures</li>
          </ul>
          <div class="details-button">Show/hide details</div>
        </div>

        <div class="job">
          <h3>External Relations Coordinator</h3>
          <h4 class="tight">YWCA Tri-County Area, Pottstown PA (2014-2016)</h4>
          <ul class="details">
            <li>Developed and implemented new website and marketing strategy</li>
            <li>Assisted Director of Fund Development in grant procurement</li>
            <li>Served as the public face for the organization to the community</li>
            <li>Executed new social media strategy and boosted followers by 400%</li>
            <li>Organized first Take Back the Night rally in Pottstown in support of victims of sexual assault and domestic abuse</li>
          </ul>
          <div class="details-button">Show/hide details</div>
        </div>

        <div class="job">
          <h3>Office Manager</h3>
          <h4 class="tight">Advantage Insurance Group, Pottstown PA (2013-2015)</h4>
          <ul class="details">
            <li>Implemented a new CRM improving efficiency, customer service, and reducing unnecessary paper use by 50%</li>
            <li>Created promotional material including flyers, ads, and presentations</li>
            <li>Oversaw daily operations of the office, client relationships, and managed office interns</li>
            <li>Designed and managed new company website</li>
          </ul>
          <div class="details-button">Show/hide details</div>
        </div>

        <div class="job">
          <h3>Education Intern</h3>
          <h4 class="tight">Advocacy Center of Tomkins County, Ithaca NY (2012)</h4>
          <ul class="details">
            <li>Developed educational materials about domestic violence, sexual assault, and available services</li>
            <li>Assisted in coordinating major fundraisers and awareness events</li>
          </ul>
          <div class="details-button">Show/hide details</div>
        </div>

      </div>

      <div class="mobile_show" id="skills-button"><div class="button" onclick="showSkills()">View Education and Skills</div></div>

    </div>
    <div class="sidebar" id="skills">

      <img class="thumbnail" src="/assets/images/megaphone.jpg">

      <h3>Other Affiliations</h3>
        <ul>
          <li>Board Member, <a href="https://www.speciesrevolution.org/" target="_blank">Species Revolution</a></li>
        </ul>

      <h3>Skills and Education</h3>

      <h4>Grassroots Organizing</h4>
      <ul>
        <li>Community Engagement</li>
        <li>Event Planning</li>
        <li>Member Growth and Retention</li>
        <li>Project Management</li>
        <li>Public Speaking</li>
        <li>Non-violence</li>
        <li>Social Media and Press</li>
        <li>Civil disobedience</li>
      </ul>

      <h4>Web Development</h4>
      <ul>
        <li>HTML, CSS, and Javascript</li>
        <li>Python, Django, and Wagtail</li>
        <li>Node JS, Nunjucks, static templating</li>
      </ul>

      <h4>Education</h4>
      <ul>
        <li>B.S., Applied Psychology</li>
        <li>Ithaca College, NY</li>
        <li>Graduated Cum Laude</li>
        <li>Concentration in Neuroscience</li>
      </ul>

    </div>
  </div>

{% endblock %}
